## Wrangle & Analyze Data

## Table of contents
- [Introduction](#intro)
- [Gathering](#gather)
   

<a id='intro'></a>
### Introduction
In this project, I am going to wrangle and analyze data from Twiter account called WeRateDogs.
WeRateDogs account rates people's dogs with a humorous comment about the dog.

We are going to illustrate this project as follwing:
- Wrangle data which consists of three steps
    - Gathering data
    - Assessing data
    - Clean data
    
- Analyze data

<!-- <a id='Wrangle'></a> -->
### Wrangling Data
<a id='gather'></a>
### Gathering

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
# Getting data from twitter-archive-enhanced.csv 
tw = pd.read_csv('twitter-archive-enhanced.csv')
tw.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
# getting data from a URL using requests library and store it to the PC
import requests as rq
s = rq.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [6]:
# To store the data on PC we need os library
import os
with open('image_predictions.tsv' , 'wb') as file:
    file.write(s.content)

In [7]:
# Getting the data after stroing it in image_predictions.tsv
img = pd.read_csv('image_predictions.tsv' , '\t')

In [8]:
consumer_key = ''
consumer_secret = ''
access_token = '4394360314-aAuDoOm3wAYyez0wC6oXhadQiqHTJSE4KLH7eVn'
access_token_secret = 'Z9m7E7HmkE4QJO5aXs1ntY7IdfPerebQCrldZ2OdYrTZZ'

In [10]:
# Now we have data need to get it from twitter using Tweepy library
import tweepy
from timeit import default_timer as timer
import json

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)
tweet_ids = tw.tweet_id.values
# any tweeet we could not get we store it in fails_tweet
fails_tweet = {}
start = timer()

# Here, we create the file and then, write on it
with open('tweet_json.txt', 'w') as file:
    for tweet_id in tweet_ids:
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            favorites = tweet._json['favorite_count']
            retweet = tweet._json['retweet_count']
            tw_json = {'tweet_id':int(tweet_id),
                      'like_count':int(favorites),
                      'retweet_count':int(retweet)}
            json.dump(tw_json, file)
            file.write('\n')
        except tweepy.TweepError as e:
            fails_tweet[tweet_id] = e
            pass
end = timer()
print(end - start)

2127.0071850000004

In [60]:
list(fails_tweet.keys())

[888202515573088257,
 873697596434513921,
 872668790621863937,
 872261713294495745,
 869988702071779329,
 866816280283807744,
 861769973181624320,
 856602993587888130,
 851953902622658560,
 845459076796616705,
 844704788403113984,
 842892208864923648,
 837366284874571778,
 837012587749474308,
 829374341691346946,
 827228250799742977,
 812747805718642688,
 802247111496568832,
 779123168116150273,
 775096608509886464,
 771004394259247104,
 770743923962707968,
 759566828574212096,
 754011816964026368,
 680055455951884288]